* {
	box-sizing: border-box;	
}

body {
	margin: 0;
	background: #fff;
	font-family: $primary-font;
	font-size: 15px;
	color: $primary-color;
}

a {
	text-decoration: none;
}

p {
	font-weight: 300;
	line-height: 30px;
}

h3 {
	font-size: 38px;
	font-style: italic;
	font-weight: 300;
	position: relative;
	padding-bottom: 10px;
}

h3::after {
	content: "";
	position: absolute;
	width: 50%;
	border: 1px $active-color solid;
	color: $active-color;
	top: 110%;
	left: 0%;

}

button {
	text-transform: uppercase;
	font-weight: bold;
	width: 200px;
	height: 50px;
	border-radius: 24.5px;
	background: $active-color;
	color: #fff;
	border: none;
	&:hover {
		background: #e87498;
		transition: 0.3s;
		cursor: pointer;
	}
}

/* main */
.main {
	background: url("../images/banner.jpg") top center no-repeat;
	width: 100%;
	height: 750px;
	position: relative;
	&::after {
		position: absolute;
		content: "";
		background: $active-color;
		width: 100%;
		height: 39px;
		top: 100%;
		left: 0;
		clip-path: polygon(0 0,0 100%,100% 0);
		-webkit-clip-path: polygon(0 0,0 100%,100% 0);
		z-index: 2;
	}
	header {
		height: 21px;
		padding-top: 38px;
		.topbar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.mainmenu {
				ul {
					padding: 0;
					margin: 0;
					display: flex;
					li {
						list-style: none;
						a {
							font-weight: bold;
							font-size: 16px;
							color: #fff;
							padding: 0 9px;	
							&:hover {
								color: $active-color;
								transition: 0.3s;
							}
						}
					}
				}
			}
		}
		.intro {
			color: #fff;
			text-align: center;
			padding: 224px 0;
			h1 {
				font-size: 46px;
				text-transform: uppercase;
				font-weight: 300;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					width: 200px;
					border: 2px $active-color solid;
					color: $active-color;
					top: 150%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.first-word {
				font-weight: bold;
			}
			.intro-desc {
				font-weight: 300;
				padding: 22px;
				font-size: 22px;
			}
		}
	}
}

/* top */
.top {
	padding: 68px 0;
	background: $grey-backgrounds;
	position: relative;
	z-index: 1;
	a {
		color: $active-color;
		text-transform: uppercase;
		padding: 30px 0;
		display: block;
		&:hover {
			color: $primary-color;
			transition: 0.3s;
		}
		i {
			padding-left: 5px;
			font-size: 21px;
		}
	}
	img {
		position: absolute;
		bottom: -15%;
		max-width: 60%;
		height: auto ;
		box-sizing: border-box;
	}
}

/* services */
.services {
	padding: 100px 0 0 0;
	h3 {
		&::after {
			transform: translate(-50%, -50%);
			left: 50%;
			width: 16%;
		}
	}
	.services-box {
		display: flex;
    	flex-direction: column;
    	align-items: center;
		.box {
			width: 150px;
			height: 150px;
			border: 1px $primary-color solid;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.icon {
		padding: 60px 0;
		display: flex;
	    justify-content: space-around;
	    .row-icon {
			display: flex;
    		width: 80%;
    		justify-content: space-between;
	    }
	    h4 {
	    	color: $active-color;
			text-transform: uppercase;
			font-weight: 500;
	    }
	}
}

/* reviews */
.reviews {
	background: url('../images/reviews-bg.png') no-repeat top center;
	background-size: cover;
	text-align: center;
	padding: 200px 0;
	.main-reviews {
		position: relative;
		p {
			color: #fff;
			font-style: italic;
			font-size: 25px;
			line-height: 40px;
			position: relative;
			&::before {
				content: '”';
				font-family: $secondary-font;
				font-weight: bold;
				font-size: 158px;
				color: $active-color;
				position: absolute;
				top: -30%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&::after {
				content: '”';
				font-family: $secondary-font;
				font-weight: bold;
				font-size: 158px;
				color: $active-color;
				position: absolute;
				top: 190%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

/* price */
.price {
	padding: 100px 0;
	text-align: center;
	background: $grey-backgrounds;
	h3 {
		&::after {
			transform: translate(-50%, -50%);
			left: 50%;
			width: 16%;
		}
	}
	.price-table {
		padding-top: 90px;
		.box-top {
			background-color: #505050;
			color: #fff;
			position: relative;
			margin: 0 15px;
		  	h4 {
		  		font-size: 20px;
				font-weight: 700;
				line-height: 38px;
			  	padding-top: 33px;
			  	margin: 0;
			  	span {
			  		font-size: 50px;
			  	}
		  	}
		  	p {
				padding-top: 10px;
			  	padding-bottom: 54px;
		  	}
		  	button {
		  		background: #fff;
		  		color: $primary-color;
				position: absolute;
				left: 50%; 
				transform: translateY(-50%) translateX(-50%);
		  	}
		}
		.recommended {
			background: $active-color;
		}
		.box-bottom {
			background: #fff;
			margin: 15px;
			p:first-child {
				padding-top: 50px;
			}
			button {
				margin: 38px auto 36px auto;
			}
		}
	}
}

/* offer */
.offer {
	padding: 100px 0;
	.offer-box {
		display: flex;
		padding: 40px 40px 0 0;
		h4 {
			color: $active-color;
			text-transform: uppercase;
			margin: 0;
		}	
	}
}

/* call to action */
.cto {
	background-color: $active-color;
	padding: 40px 0;
	display: flex;
	justify-content: center;
	.cto-content {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		h2 {
			color: #fff;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 38px;
			span {
				font-weight: 700;
			}
		}
		button {
			background-color: #fff;
			color: $active-color;
			padding: 0;
		}
	}
}

/* portfolio */
.portfolio {
	padding: 68px 0;
	background: $grey-backgrounds;
	.row-portfolio {
		align-items: center;
	}
	a {
		color: $active-color;
		text-transform: uppercase;
		padding: 30px 0;
		display: block;
		&:hover {
			color: $primary-color;
			transition: 0.3s;
		}
		i {
			padding-left: 5px;
			font-size: 21px;
		}
	}
	h3 {
		margin: 0;
	}
	img {
		width: 100%;
	}
}

/* footer */
footer {
	background: #262626;
	.footer-content {
		display: flex;
		justify-content: space-between;
		color: #fff;
	}
}

/* mobile */
@media(max-width: 1200px) {
	.top {
		img {
			position: relative;
			bottom: 0;
			height: auto;
			box-sizing: border-box;
		}
	}
	.offer {
		.offer-box {
			flex-direction: column;
			align-items: center;
		}
	}
}

@media(max-width: 768px) {
	.main {
		height: 100vh;
		header {
			.topbar {
				flex-direction: column;
				.nav {
					width: 100%;
					margin: 20px;
				}
			}
			.intro {
				padding: 0;
			}
		}
	}
	.top {
		img {
			position: relative;
		    bottom: 0;
		    max-width: 100%;
		    height: auto;
		    box-sizing: border-box;
		}
	}
	.services {
		.offset-0 {
			margin: 0;
		}
	}
	.reviews {
		.main-reviews {
			p {
				&::after {
				top: 160%;
				}
			}
		}
	}
	.cto {
		.cto-content {
			flex-direction: column;
		}
	}
	footer {
		.footer-content {
			justify-content: center;
		}
	}
}

#checkbox1,
.toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    width: 200px;
    color: #fff;
    background: #ed145b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .1s linear;
    margin-top: 20px;
  }

  #checkbox1:checked + label .demo li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear;
  }

  #checkbox1:checked + label .demo {
    height: 200px;
    margin-top: 20px;
  }
  .menu {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    transition: height .3s linear;
  }
  .menu li {
    display: flex;
    /* magic */
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }
  .menu li a {
    width: 95%;
    text-align: center;
    align-self: center;
    align-content: center;
  }
}