
* {
	box-sizing: border-box;	
}

@font-face {
    font-family: 'droid_serifbold';
    src: url('/mdomanski/fonts/DroidSerif-Bold-webfont.eot');
    src: url('/mdomanski/fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/mdomanski/fonts/DroidSerif-Bold-webfont.woff2') format('woff2'),
         url('/mdomanski/fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('/mdomanski/fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('/mdomanski/fonts/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	margin: 0;
	background: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: #5a5a5a;
}

a {
	text-decoration: none;
}

p {
	font-weight: 300;
	line-height: 30px;
}

h3 {
	font-size: 38px;
	font-style: italic;
	font-weight: 300;
	position: relative;
	padding-bottom: 10px;
}

h3::after {
	content: "";
	position: absolute;
	width: 50%;
	border: 1px #ed145b solid;
	color: #ed145b;
	top: 110%;
	left: 0%;

}

/* grids */
.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 16px;
}

.full-width {
	width: 100%;
	max-width: 100%;
}

.row::before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
	padding: 10px;
}

.no-padding {
	padding: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

.main {
	background: url("./images/banner.jpg") top center no-repeat;
	width: 100%;
	height: 750px;
	position: relative;
}

.main::after {
	position: absolute;
	content: "";
	background: #ed145b;
	width: 100%;
	height: 39px;
	top: 100%;
	left: 0;
	clip-path: polygon(0 0,0 100%,100% 0);
	-webkit-clip-path: polygon(0 0,0 100%,100% 0);
	z-index: 2;
}

header {
	height: 21px;
	padding-top: 38px;
}

.logo {
	float: left;
}

.mainmenu {
	float: right;
}

.mainmenu ul {
	padding: 0;
	margin: 0;
}

.mainmenu ul li {
	list-style: none;
	float: left;
}

.mainmenu ul li a {
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	padding: 0 9px;
}

.mainmenu ul li a:hover {
	color: #ed145b;
	transition: 0.3s;
}

.intro {
	color: #fff;
	text-align: center;
	padding: 224px 0;
}

.intro h1 {
	font-size: 46px;
	text-transform: uppercase;
	font-weight: 300;
	position: relative;
}

.intro h1::after {
	content: "";
	position: absolute;
	width: 200px;
	border: 2px #ed145b solid;
	color: #ed145b;
	top: 150%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.intro .first-word {
	font-weight: bold;
}

.intro .intro-desc {
	font-weight: 300;
	padding: 22px;
}

.intro button {
	text-transform: uppercase;
	font-weight: bold;
	width: 200px;
	height: 50px;
	border-radius: 24.5px;
	background: #ed145b;
	color: #fff;
	border: none;
}

.intro button:hover {
	background: #e87498;
	transition: 0.3s;
	cursor: pointer;
}

/* top */

.top {
	padding: 68px 0;
	background: #f4f4f4;
	position: relative;
	z-index: 1;
}

.top a {
	color: #ed145b;
	text-transform: uppercase;
	padding: 30px 0;
	display: block;
}

.top a:hover {
	color: #5a5a5a;
	transition: 0.3s;
}

.top a i {
	padding-left: 5px;
	font-size: 21px;
}

.top img {
	position: absolute;
	bottom: -15%;
	max-width: 60%;
	height: auto ;
	box-sizing: border-box;
}

/* services */
.services {
	padding: 100px 0 0 0;
	text-align: center;
}

.services h3::after {
	transform: translate(-50%, -50%);
	left: 50%;
	width: 16%;
}

.services-box .box {
	width: 150px;
	height: 150px;
	border: 1px #5a5a5a solid;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	padding: 60px 0;
	display: flex;
    justify-content: space-around;
}

.icon h4 {
	color: #ed145b;
	text-transform: uppercase;
	font-weight: 500;
}

/* reviews */
.reviews {
	background: url('images/reviews-bg.png') no-repeat top center;
	background-size: cover;
	text-align: center;
	padding: 200px 0;
}

.main-reviews {
	position: relative;
}

.main-reviews::before {
	content: "\f104";
	position: absolute;
	top: 43%;
	left: -20%;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 32px;
}

.main-reviews::after {
	content: "\f105";
	position: absolute;
	top: 43%;
	right: -20%;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 32px;
}

.main-reviews p {
	color: #fff;
	font-style: italic;
	font-size: 25px;
	line-height: 40px;
	position: relative;
}

.main-reviews p::before {
	content: '”';
	font-family: 'droid_serifbold', serif;
	font-weight: bold;
	font-size: 158px;
	color: #ed145b;
	position: absolute;
	top: -30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-reviews p::after {
	content: '”';
	font-family: 'droid_serifbold', serif;
	font-weight: bold;
	font-size: 158px;
	color: #ed145b;
	position: absolute;
	top: 190%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* price */
.price {
	padding: 100px 0 0 0;
	text-align: center;
}

.price h3::after {
	transform: translate(-50%, -50%);
	left: 50%;
	width: 16%;
}

.price p {
	margin: 0;
}

.price .currency p {
	line-height: 20px;
}

.price .big-price {
	font-size: 50px;
	font-weight: bold;
}


